.grid {
  display: grid;
  margin: 32px 0px;
  column-gap: 24px;
  row-gap: 24px;
  grid-auto-flow: row;
  grid-template-rows: auto;
  grid-template-columns: repeat(12, 1fr);
}

.grid-center {
  justify-items: center;
}

.col-3 {
  grid-column: span 3;
} 

.col-4 {
  grid-column: span 4;
} 

.col-5 {
  grid-column: span 5;
} 

.col-6 {
  grid-column: span 6;
} 

.col-7 {
  grid-column: span 7;
} 

.col-8 {
  grid-column: span 8;
} 

.col-9 {
  grid-column: span 9;
} 

.col-10 {
  grid-column: span 10;
} 

.col-11 {
  grid-column: span 11;
} 

.col-12 {
  grid-column: span 12;
} 

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {

  .col-2-laptop {
    grid-column: span 2;
  } 

  .col-3-laptop {
    grid-column: span 3;
  } 
  
  .col-4-laptop {
    grid-column: span 4;
  } 
  
  .col-5-laptop {
    grid-column: span 5;
  } 
  
  .col-6-laptop {
    grid-column: span 6;
  } 
  
  .col-7-laptop {
    grid-column: span 7;
  } 
  
  .col-8-laptop {
    grid-column: span 8;
  } 
  
  .col-8-laptop-center:before {
    grid-column: span 2;
  } 
  
  .col-9-laptop {
    grid-column: span 9;
  } 
  
  .col-10-laptop {
    grid-column: span 10;
  } 
  
  .col-11-laptop {
    grid-column: span 11;
  } 
  
  .col-12-laptop {
    grid-column: span 12;
  } 
}

