.margin-top-s {
  margin-top: 8px !important;
}

.margin-top-m {
  margin-top: 12px !important;
}

.margin-top-l {
  margin-top: 16px !important;
}

.margin-top-xl {
  margin-top: 24px !important;
}

.margin-top-xxl {
  margin-top: 32px !important;
}

.margin-right-s {
  margin-right: 8px !important;
}

.margin-right-m {
  margin-right: 12px !important;
}

.margin-right-l {
  margin-right: 16px !important;
}

.margin-right-xl {
  margin-right: 24px !important;
}

.margin-right-xxl {
  margin-right: 32px !important;
}


.margin-bottom-s {
  margin-bottom: 8px !important;
}

.margin-bottom-m {
  margin-bottom: 12px !important;
}

.margin-bottom-l {
  margin-bottom: 16px !important;
}

.margin-bottom-xl {
  margin-bottom: 24px !important;
}

.margin-bottom-xxl {
  margin-bottom: 32px !important;
}


.margin-left-s {
  margin-left: 8px !important;
}

.margin-left-m {
  margin-left: 12px !important;
}

.margin-left-l {
  margin-left: 16px !important;
}

.margin-left-xl {
  margin-left: 24px !important;
}

.margin-left-xxl {
  margin-left: 32px !important;
}
