.margin-top-none {
  margin-top: 0px !important;
}

.margin-top-s {
  margin-top: 8px !important;
}

.margin-top-m {
  margin-top: 12px !important;
}

.margin-top-l {
  margin-top: 16px !important;
}

.margin-top-xl {
  margin-top: 24px !important;
}

.margin-top-xxl {
  margin-top: 32px !important;
}

.margin-top-xxxl {
  margin-top: 64px !important;
}

.margin-top-xxxl {
  margin-top: 128px !important;
}

.margin-right-none {
  margin-right: 0px !important;
}

.margin-right-s {
  margin-right: 8px !important;
}

.margin-right-m {
  margin-right: 12px !important;
}

.margin-right-l {
  margin-right: 16px !important;
}

.margin-right-xl {
  margin-right: 24px !important;
}

.margin-right-xxl {
  margin-right: 32px !important;
}

.margin-right-xxxl {
  margin-bottom: 64px !important;
}

.margin-right-xxxxl {
  margin-bottom: 128px !important;
}

.margin-bottom-s {
  margin-bottom: 8px !important;
}

.margin-bottom-none {
  margin-bottom: 0px !important;
}

.margin-bottom-m {
  margin-bottom: 12px !important;
}

.margin-bottom-l {
  margin-bottom: 16px !important;
}

.margin-bottom-xl {
  margin-bottom: 24px !important;
}

.margin-bottom-xxl {
  margin-bottom: 32px !important;
}

.margin-bottom-xxxl {
  margin-bottom: 64px !important;
}

.margin-bottom-xxxxl {
  margin-bottom: 128px !important;
}

.margin-left-none {
  margin-left: 0px !important;
}

.margin-left-s {
  margin-left: 8px !important;
}

.margin-left-m {
  margin-left: 12px !important;
}

.margin-left-l {
  margin-left: 16px !important;
}

.margin-left-xl {
  margin-left: 24px !important;
}

.margin-left-xxl {
  margin-left: 32px !important;
}

.margin-left-xl {
  margin-left: 64px !important;
}

.margin-left-xxl {
  margin-left: 128px !important;
}


@media (min-width: 1200px) {
  .margin-top-s-laptop {
    margin-top: 8px !important;
  }
  
  .margin-top-m-laptop {
    margin-top: 12px !important;
  }
  
  .margin-top-l-laptop {
    margin-top: 16px !important;
  }
  
  .margin-top-xl-laptop {
    margin-top: 24px !important;
  }
  
  .margin-top-xxl-laptop {
    margin-top: 32px !important;
  }
  
  .margin-top-xxxl-laptop {
    margin-top: 64px !important;
  }
  
  .margin-top-xxxl-laptop {
    margin-top: 128px !important;
  }
  
  .margin-right-s-laptop {
    margin-right: 8px !important;
  }
  
  .margin-right-m-laptop {
    margin-right: 12px !important;
  }
  
  .margin-right-l-laptop {
    margin-right: 16px !important;
  }
  
  .margin-right-xl-laptop {
    margin-right: 24px !important;
  }
  
  .margin-right-xxl-laptop {
    margin-right: 32px !important;
  }
  
  .margin-right-xxxl-laptop {
    margin-bottom: 64px !important;
  }
  
  .margin-right-xxxxl-laptop {
    margin-bottom: 128px !important;
  }
  
  .margin-bottom-s-laptop {
    margin-bottom: 8px !important;
  }
  
  .margin-bottom-m-laptop {
    margin-bottom: 12px !important;
  }
  
  .margin-bottom-l-laptop {
    margin-bottom: 16px !important;
  }
  
  .margin-bottom-xl-laptop {
    margin-bottom: 24px !important;
  }
  
  .margin-bottom-xxl-laptop {
    margin-bottom: 32px !important;
  }
  
  .margin-bottom-xxxl-laptop {
    margin-bottom: 64px !important;
  }
  
  .margin-bottom-xxxxl-laptop {
    margin-bottom: 128px !important;
  }
  
  .margin-left-s-laptop {
    margin-left: 8px !important;
  }
  
  .margin-left-m-laptop {
    margin-left: 12px !important;
  }
  
  .margin-left-l-laptop {
    margin-left: 16px !important;
  }
  
  .margin-left-xl-laptop {
    margin-left: 24px !important;
  }
  
  .margin-left-xxl-laptop {
    margin-left: 32px !important;
  }
  
  .margin-left-xl-laptop {
    margin-left: 64px !important;
  }
  
  .margin-left-xxl-laptop {
    margin-left: 128px !important;
  }
}
